files/t_name.json
files/t_name_dump_dict.json
files/converted_files/*
files/debug/*
files/refined_texts/*
final_csvs/*
scena/*
t_name.json
t_voice.tbl
debug.txt
post_get_cmd_text_06_08.txt
test.csv
TODO.txt